.main {
	display: flex;
	justify-content: space-between;
	width: 100%;
	height: 100vh;
	justify-content: space-around;
	margin-left: 300px;

	// Background image
	.samsung {
		display: flex;
		align-items: center;
		text-align: center;
		height: 100%;
		width: 100%;
	}

	.samsung::before {
		content: "";
		position: absolute;
		top: 420%;
		left: 60%;
		bottom: 6;
		right: 0;
		width: 1200px;
		height: 1200px;
		background-image: url(../media/Icons/samsung.png);
		background-position: contain;
		background-repeat: no-repeat;
		background-size: 60%;
		z-index: -1;
	}

	.partnerCardText {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding-top: 80px;

		.partnerCardParagraph {
			width: 1000px;
			font-size: 19px;
			letter-spacing: 0.1rem;
			line-height: 2;
			color: #6f7cb2;
			margin-top: 30px;
		}
	}
	.partnerCardIcons {
		display: flex;
		flex-direction: column;
		// width: 100%;
		height: 100%;
		margin-top: 100px;

		.iconsRow {
			display: flex;
			// flex-direction: column;
			// background-color: red;

			.icons {
				// margin-top: 30px;
				padding-left: 35px;
			}
		}
		// Background image
		.icon {
			width: 50px;
			height: 50px;
			margin: 30px 0px;
			background-position: 78% 10px;
			background-repeat: no-repeat;
			background-image: url(../media/Icons/Icon.png);
		}
	}
}

h2 {
	margin-bottom: 20px;
}
