.heroContent {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	width: 100%;
	height: 100vh;
	margin-top: 243px;
}

.heroContent::before {
	content: "";
	background-image: url(../media/Icons/designer_1.png);
	position: absolute;
	top: 0;
	left: 2;
	bottom: 0;
	right: 0;
	width: 1500px;
	height: 1700px;
	background-position: contain;
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: -1;
}

.wrapper {
	display: flex;
	width: 100%;
}

.textHero {
	display: flex;
	flex-direction: column;
}
.heroHeading,
h1 {
	display: block;
	height: 132px;
	color: #091133;
	font-size: 50px;
	letter-spacing: 0.1rem;
	line-height: 1.5;
	margin-bottom: 20px;
}
.heroParagraph {
	height: 164px;
	width: 538px;
	font-size: 18px;
	color: #505f98;
	height: 300px;
	line-height: 2rem;
}
.heroBtn {
	display: flex;
	flex-direction: start;
	justify-content: space-between;
	width: 490px;
	padding-bottom: 180px;

	.btnPurchase {
		width: 190px;
		height: 36px;
		font-size: 16px;
		background-color: #111b47;
		border: none;
		color: #fff;
	}

	.btnLearn {
		width: 190px;
		height: 36px;
		font-size: 16px;
		color: #091133;
		border: none;
		border: solid 2px #091133;
		background-color: #fff;
	}
}
