.navbar {
	display: flex;
	justify-content: space-between;
	text-align: center;
	align-items: center;
	width: 100%;
	height: 60px;
	font-family: "Roboto", sans-serif;
	margin-left: 165px;
	z-index: 2;

	.navbarItems {
		display: flex;
		justify-content: space-between;
		align-items: center;
		width: 245px;
		height: 24px;
		color: #505f98;
	}

	.pageHeading,
	h2 {
		display: block;
		width: 95px;
		height: 38px;
		font-size: 26px;
		letter-spacing: 0;
	}

	.btnNavbar {
		display: inline-block;
		text-align: center;
		margin-right: 268px;

		button {
			width: 160px;
			height: 26px;
			background-color: #111b47;
			color: #fff;
			font-size: 12px;
			border-radius: 3px;
		}
	}
}
