.intro {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100vw;
	margin-top: 100px;
	// margin-bottom: 100px;

	.introText {
		display: flex;
		justify-content: space-between;
		width: 100%;
		height: 100%;
		margin-bottom: 15rem;
	}

	.introContent {
		width: 50%;
	}

	.introIcon {
		width: 50%;
		// background-image: url(../media/Icons/lotos.png);
		// background-position: 78% 10px;
		// background-repeat: no-repeat;
	}

	.introParagraph {
		font-size: 16px;
		// background-color: red;
		color: #6f7cb2;
		letter-spacing: 0.2rem;
	}
}
