.intro {
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items: center;
	width: 1440px;
	height: 569px;
	margin-top: 88px;
	// margin: 150px 0px 0px 500px;

	.introText {
		display: flex;
		justify-content: space-evenly;
		width: 80%;
		height: 100%;
		margin-bottom: 88px;
	}

	.introContent {
		width: 445px;
		height: 228px;
		margin-top: 48px;

		.headIntro {
			color: #091133;
			font-size: 36px;
			margin-bottom: 16px;
		}
	}

	.introIcon {
		width: 50%;
	}

	.introParagraph {
		width: 445px;
		height: 166px;
		font-size: 16px;
		color: #6f7cb2;
		letter-spacing: 0.2rem;
		// margin-top: 30px;
		// line-height: 2;
	}

	.introButton {
		width: 190px;
		height: 36px;
		// margin-top: 45px;
		background-color: #091133;
		letter-spacing: 0.1rem;
		font-size: 14px;
		border: none;
		border-radius: 4px;
		color: #fff;
		border: solid 2px #091133;
	}
}
