.footer {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 1440px;
	height: 100%;
	background-color: #e7ecff;

	.footerHeading {
		display: flex;
		justify-content: space-between;
		align-items: center;
		align-content: center;
		text-align: center;
		height: 108px;
		width: 1110px;
		border-bottom: solid 2px #cdd1d4;
		.footerBtn {
			display: block;
			.footBtn {
				width: 109px;
				height: 26px;
				color: #fff;
				background-color: #111b47;
				font-size: 12px;
				border: solid 2px #091133;
			}
		}
	}

	.footHeading {
		display: block;
		align-items: center;
		width: 95px;
		height: 38px;
		.footHead {
			font-size: 26px;
		}
	}

	.footerNavbar {
		display: flex;
		justify-content: space-between;
		width: 1110px;
		height: 108px;
		align-items: center;
	}

	.footerNav {
		display: flex;
		justify-content: space-between;
		text-align: center;
		align-items: center;
		width: 245px;
		height: 24px;
		color: #929ecc;
	}
	.socialIcons {
		display: flex;
		justify-content: space-between;
		text-align: center;
		align-items: center;
		width: 265px;
		height: 65px;
		color: #929ecc;
	}
}
