.sectionOne {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	height: 100vh;
	width: 100%;
	padding-left: 200px;
	margin: 600px 0px 0px 600px;
}

.sectionOne::before {
	content: "";
	background-image: url(../media/Icons/undraw.png);
	position: absolute;
	top: 160%;
	left: 55%;
	bottom: 6;
	right: 0;
	width: 1000px;
	height: 1000px;
	background-position: contain;
	background-repeat: no-repeat;
	background-size: 100%;
	z-index: -1;
}

.sectionOneText {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	width: 100%;
	margin-top: 300px;

	.sectioOneHeading {
		display: block;
		color: #091133;

		letter-spacing: 0.2rem;
		font-size: 15px;
		margin-bottom: 3rem;
	}
	.sectionOneParagraph {
		height: 330px;
		font-size: 19px;
		letter-spacing: 0.2rem;
		line-height: 2;
		color: #6f7cb2;
	}
}

.icons {
	display: flex;
	justify-content: space-between;
	width: 1000px;
	margin-bottom: 210px;

	// .titleContent {
	// }

	.icon {
		width: 50px;
		height: 50px;
		margin-bottom: 20px;
		background-position: 78% 10px;
		background-repeat: no-repeat;
		background-image: url(../media/Icons/Icon.png);
	}

	.iconsParagraph {
		font-size: 17px;
		letter-spacing: 0.1rem;
		color: #5d6970;
		padding-top: 20px;
		// margin: 10px;
	}
}
