.priceCard {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	height: 3000px;
	width: 100%;
	background-image: url(../media/Icons/rectangle.png);
	background-position: 78% 60px;
	background-repeat: no-repeat;
	background-size: cover;
	// background-color: #e7ecff;
	border-radius: 3px 3px 0 0;
	////

	///////////////////////////////////////
	.priceCardHeading {
		display: block;
		color: #091133;
		width: 800px;
		height: 5px;
		margin-top: 320px;
		letter-spacing: 0.2rem;
		font-size: 2rem;
	}

	.priceCardParagraph {
		width: 700px;
		color: #6f7cb2;
		font-size: 16px;
		letter-spacing: 0.2rem;
		text-align: center;
	}

	.headingTotal {
		width: 300px;
		height: 60px;
		color: #222f65;
		text-align: center;
	}

	.uiHeading {
		font-size: 12px;
		letter-spacing: 0.2rem;
		margin-top: -80px;
	}

	.simple {
		margin-bottom: 10px;
	}
	.purchaseBtn {
		margin-top: -90px;
	}
}

button {
	width: 190px;
	height: 36px;
	margin-top: 25px;
	background-color: #091133;
	letter-spacing: 0.1rem;
	font-size: 14px;
	border: none;
	border-radius: 4px;
	color: #fff;
	border: solid 2px #091133;
}
