.priceCard {
	display: flex;
	justify-content: space-evenly;
	flex-direction: column;
	align-items: center;
	height: 100vh;
	width: 100vw;
	margin: auto;
	text-align: center;
	background-color: #e7ecff;

	.priceCardHeading {
		display: block;
		color: #091133;
		width: 800px;
		height: 5px;
		margin-top: 50px;
		letter-spacing: 0.2rem;
		font-size: 4rem;
	}

	.priceCardParagraph {
		width: 700px;
		color: #6f7cb2;
		font-size: 16px;
		letter-spacing: 0.1rem;
	}

	.headingTotal {
		width: 300px;
		height: 60px;
		color: #222f65;
	}

	.uiHeading {
		font-size: 12px;
		letter-spacing: 0.2rem;
		margin-top: -80px;
	}

	.purchaseBtn {
		margin-top: -90px;
	}
}

button {
	width: 190px;
	height: 32px;
	background-color: #111b47;
	color: #fff;
}
